:root{
    --black: #222222;
    --white: #F8F8F8;
    --lightBlue: #D0DEE2;
    --midBlue: #7498C0;
    --darkBlue: #233240;
    --bg: #f6ffa6;
    --shadow: rgba(0,0,0,0.5);

}

.flex{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: start;
}

.width70{
    width: 70%;
}

.seminarButton{
    margin-right: 30px;
}

.seminarContainer{
    
    background: rgb(208,222,226);
    background: linear-gradient(180deg, rgba(208,222,226,1) 0%, rgba(255,255,255,1) 50%, rgba(208,222,226,1) 100%);
}

.seminarWrapper{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding: 25px 2%;
}
.seminarImage{
    position: absolute;
    left: 70%;
    top: 10%;
    width: 28%;
    height: 80%;
    object-fit: cover;
    object-position: 40% 50%;
    border-radius: 5px;
    box-shadow: -5px 5px 15px var(--shadow);
}
.seminarText{
    left: 0px;
    display: block;
    padding: 4% 6%;
    z-index: 2;
    background-color: var(--midBlue);
    border-radius: 5px;
    width: 80%;
}



@media screen and (max-width: 768px){
    .seminarButton{
        margin-right: 0px;
    }
    .flex{
        justify-content: space-around;
    }
    .width70{
        width: auto;
    }
    .seminarText{
        width: 88%;
        padding-top: 270px;
        margin-top: 50px;
    }
    .seminarImage{
        position: absolute;
        left: 6%;
        top: 30px;
        width: 88%;
        height: 300px;
        object-fit: cover;
        object-position: 40% 50%;
        border-radius: 5px;
        box-shadow: -5px 5px 15px var(--shadow);
    }
}