html, body {margin: 0; padding: 0; background-color: #D0DEE2;}
:root{
  --black: #111111;
  --white: #F8F8F8;
  --lightBlue: #D0DEE2;
  --midBlue: #7498C0;
  --darkBlue: #233240;
  --bg: #f6ffa6;
  --shadow: rgba(0,0,0,0.5);
}

a{text-decoration: none; font-family: 'Lato', sans-serif; font-weight: 400; font-size: 14px; line-height: 173%; letter-spacing: 0.03em; color: #ffffff;}
li{list-style-type: none;}
h1{font-family: 'Merriweather', serif; font-weight: 700; font-size: 60px; line-height: 104%; color: #ffffff; margin-top: 20px; margin-bottom: 10px;}
h2{font-family: 'Merriweather', serif; font-weight: 700; font-size: 40px; line-height: 43px; color: #ffffff; margin: 0 0 10px 0;}
h3{font-family: 'Merriweather', serif; font-weight: 700; font-size: 30px; line-height: 32px; color: #ffffff; margin: 0 0 10px 0;}
h4{font-family: 'Lato', sans-serif; font-weight: 300; font-size: 24px; line-height: 150%; letter-spacing: 0.03em; color: #ffffff; margin-bottom: 30px;}
p{font-family: 'Lato', sans-serif; font-weight: 300; font-size: 16px; line-height: 150%; letter-spacing: 0.03em; color: #ffffff; margin-bottom: 30px;}


@media screen and (max-width: 768px) {
  h1{
    font-size: 7vw;
  }
}



/* ******************************* PRESETES ******************************* */
.darkblue{
  color:var(--darkBlue);
}

.mw1500{
  max-width: 1500px;
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}

.centerHV{
  justify-content: center;
  align-items: center;
}

.spacer100{
  height: 100px;
}

.spacer50{
  height: 50px;
}

.relativecontainer {
  position: relative; z-index: 1;
}

.spacing{
  min-height: 30px;
}


button{
  font-family: 'Lato', sans-serif; font-weight: 300; font-size: 16px; line-height: 173%; letter-spacing: 0.03em; color: #ffffff;
  padding: 5px 50px;
  background-color: #233240;
  border-style: solid;
  border-width: 1px;
  border-color: #233240;
  transition: all 0.2s linear;
  border-radius: 3px;
  cursor: pointer;
}
button:hover{
  border-color: #ffffff;
  background-color: rgba(84, 102, 151, 0.35);
}
.btn-brown{
    background-color: #7e4f25;
    border-color: #7e4f25;
}
.btn-brown:hover{
    background-color: rgba(126, 79, 37, 0.4);
    border-color: #ffffff;
}

/* ******************************* FOOTER ******************************* */

footer{padding: 20px 60px; background-color: #233240;}
.wrappercenter{text-align: center; max-width: 100%;}
.wrappercenter img{max-width: 100%;}

.footer{
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer_column{
  margin-top: 20px;
  width: 284px;
  text-align: center;
}

footer li a:hover{
    color: #28314c;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
}

@media screen and (max-width: 768px){
  footer{padding: 20px;}
  .footer{
    align-items: center;
  }
  .footer_column{
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }

}














.heroBg{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  z-index: 1;
}

.blackBg{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--darkBlue);
  z-index: 0;
}


@media screen and (max-width: 757px) {
  .heroBg{
    height: 950px;
  }
  .blackBg{
    height: 950px;
  }
  
}


.heroWaterfall{
  background-image: linear-gradient(90deg, rgba(23, 44, 64, 0.4), rgba(23, 44, 64, 0.4)), url(images/waterfall.jfif);
}
.heroSeminar{
  background-image: linear-gradient(90deg, rgba(23, 44, 64, 0.4), rgba(23, 44, 64, 0.4)), url(images/Seminare.jpg);
  opacity: 0;
}
.heroEducation{
  background-image: linear-gradient(90deg, rgba(23, 44, 64, 0.4), rgba(23, 44, 64, 0.4)), url(images/Monoglai_01.jpg);
  opacity: 0;
}

.heroContainer{
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100vh;
}

.heroLogo{
  width: 17%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#heroTitle{
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.buttonGrid{
  max-width: 1110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heroButton{
  width: 350px;
  cursor: pointer;
  padding: 20px 0px;
  background-color: var(--midBlue);
  border: 1px, solid, var(--midBlue);
  border-radius: 3px;  
  transition: all 0.2s linear;
  text-align: center;
  margin: 10px;
  font-size: 20px;
  font-weight: normal;
}

.heroButton:hover{
  border-color: var(--midBlue);
  background-color: var(--midBlue);
  transform: scale(1.05);
}

@media screen and (max-width: 757px) {
  #about{
    margin-top: 220px;

  }
}


.font25{
  font-size: 25px;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.grid90_10{
  display: grid;
  grid-template-columns: 9fr 1fr;
}

.grid10_90{
  display: grid;
  grid-template-columns: 1fr 9fr;
}

.blueBg{
  background-color: var(--midBlue);
}

.rounded{
  border-radius: 5px;
}

.boxShad{
  box-shadow: -5px 5px 15px var(--shadow);
}

.objFit{
  object-fit: cover;
  object-position: 50% 50%;
}

.w75{
  width: 75%;
}

.mw1110{
  max-width: 1110px;
}

.pad60px{
  padding: 60px;
}

.padL20p{
  padding-left: 28%;
}

.marginAuto{
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1167px){

  .marginAuto{
    margin: 0px 20px;
  }
}

.aboutImg{
  width: 30%;
  height: 90%;
  left: 70%;
  top: 5%;
}

.aboutImgRev{
  width: 30%;
  height: 90%;
  left: 0%;
  top: 5%;
  transform: scaleX(-1);
}

.contactImg{
  width: 36%;
  height: 110%;
  left: 64%;
  top: -10%;
}

.bottomImage{
  width: 100%;
  height: 600px;
  background-image: url(images/Susanna_Weninger_Hochwechsel.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
}