.spacer{
    height: 60px;
}

h2{
    margin-bottom: 40px;
}
p{
    margin: 5px 5px;
}
p a{
    text-decoration: underline;
}

select{
    display: block;
    padding: 3px 5px;
    width: 51%;
    font-family: 'Lato', sans-serif; font-weight: 300; font-size: 16px;
}

input{
    font-family: 'Lato', sans-serif; font-weight: 300; font-size: 16px;
    padding: 3px 5px;
    display: block;
    width: 50%;
}
textarea{
    font-family: 'Lato', sans-serif; font-weight: 300; font-size: 16px;
    padding: 3px 5px;
    display: block;
    width: 50%;
}
#submit{
    width: auto;
}
#comments{
    height: 120px;;
}
#check{
    display: inline;
    width: auto;
}
#request{
    background-image: url(images/drum_02.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
}

@media screen and (max-width: 768px){
    textarea{
        width: 100%;
    }
    select{
        width: 100%;
    }
    input{
        width:100%;
    }
    #request p{
        text-align: left;
    }
    #request{
        background-image: url(images/drum_02.png);

    }
}